---
layout: archive
title: "Service"
permalink: /service/
author_profile: true
---

<h3>Paper Reviewing</h3>

<p>I regularly review <i>(2017-present)</i> for natural language processing, visualizaton, human-computer interaction, and decision sciences venues, such as IEEE VIS, TVCG, and CG&A, PacificVis, EuroVis, EMNLP, ACL, ICML, NAACL, NeurIPS, DSI, SWDSI, NEDSI, and MWDSI.</p>

<h3>Journalism</h3>

<p>I've been affiliated with the RAPRA newsletter since 2008.</p>

<p>I was affiliated with the Techie Talk newsletter as Chief Editor from 2016-2019.</p>

{% include base_path %}


{% for post in site.service %}
  {% include archive-single.html %}
{% endfor %}

