---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<div class="container">
  <div class="row">

    <div class="col-12 my-2">
      Anjana Arunkumar, Andrea Pinceti, Lalitha Sankar, and Chris Bryan.
      <b>PMU Tracker: A Visualization Platform for Epicentric Event Propagation Analysis in the Power Grid</b>
      <i> in press, accepted to IEEE Visualization Conference (VIS) 2022</i>.
      <br/>
      <a class="link-danger" href="https://ieeexplore.ieee.org/abstract/document/9903279" target="_blank">DOI</a> | <a href="https://aarunku5.github.io/files/arunkumar2022pmutracker.pdf">Paper</a>
    </div>


    <div class="col-12 my-2">
      Swaroop Mishra and Anjana Arunkumar.
      <b>How Robust are Model Rankings : A Leaderboard Customization Approach for Equitable Evaluation</b>
      <i> accepted to 2021 IEEE Visualization Conference (VIS), pp 51-55, 2021</i>.
      <br/>
      <a class="link-danger" href="https://ojs.aaai.org/index.php/AAAI/article/view/17599" target="_blank">DOI</a> | <a href="https://aarunku5.github.io/files/arunkumar2021leaderboard.pdf">Paper</a>
    </div> 

    <div class="col-12 my-2">
      Anjana Arunkumar, Daniel Ortiz, and Arunkumar Madapusi.
      <b>Examining the Effect of Visual Redundancy on the Understanding of Visualizations in Procurement and Sourcing</b>
      <i> accepted to Decision Sciences Institute Annual Conference 2022</i>.
    </div>

    <div class="col-12 my-2">
      Anjana Arunkumar, Daniel Ortiz, and Arunkumar Madapusi.
      <b>Examining the Effect of Reconfiguration Interactions on the Understanding of Anomalies in Supply Chain Management</b>
      <i> accepted to Decision Sciences Institute Annual Conference 2022</i>.
      <br/>
    </div>

    <div class="col-12 my-2">
      Anjana Arunkumar, Daniel Ortiz, and Arunkumar Madapusi.
      <b>Evaluation of Visual Uncertainty Representations in Schedule Risk Analysis</b>
      <i> accepted to Midwest Decision Sciences Institute Annual Conference 2022</i>.
      <br/>
    </div>

    <div class="col-12 my-2">
      Anjana Arunkumar, Daniel Ortiz, and Arunkumar Madapusi.
      <b>Modelling the Complexity of Risk Centered Supply Chain Network Visualization</b>
      <i> accepted to Midwest Decision Sciences Institute Annual Conference 2022</i>.
      <br/>
    </div> 

    <div class="col-12 my-2">
      Anjana Arunkumar, Shashank Ginjpalli, and Chris Bryan.
      <b>Bayesian Modelling of Alluvial Diagram Complexity</b>
      <i> accepted to 2021 IEEE Visualization Conference (VIS), pp 51-55, 2021</i>.
      <br/>
      <a class="link-danger" href="https://ieeexplore.ieee.org/abstract/document/9623282" target="_blank">DOI</a> | <a href="https://aarunku5.github.io/files/arunkumar2021bayesian.pdf">Paper</a>
    </div> 

    <div class="col-12 my-2">
      Anjana Arunkumar, Daniel Ortiz, and Arunkumar Madapusi.
      <b>Impact of Uncertainty Representation on Decision Making for Business Network Visualization</b>
      <i> accepted to Decision Sciences Institute Annual Conference 2021</i>.
      <br/>
    </div> 

    <div class="col-12 my-2">
      Anjana Arunkumar, Daniel Ortiz, and Arunkumar Madapusi.
      <b>Bayesian Modelling of Uncertainty in Schedule Risk Analysis using Gantt Charts</b>
      <i> accepted to Decision Sciences Institute Annual Conference 2021</i>.
      <br/>
    </div> 

    <div class="col-12 my-2">
      Anjana Arunkumar, Daniel Ortiz, and Arunkumar Madapusi.
      <b>Modelling the Complexity of Supply Chain Network Visualization</b>
      <i> accepted to Decision Sciences Institute Annual Conference 2021</i>.
      <br/>
    </div> 

    <div class="col-12 my-2">
      Anjana Arunkumar and Arunkumar Madapusi.
      <b>Strategy-Enterprise System Alignment and Firm Performance</b>
      <i> accepted to Northeast Decision Sciences Institute Annual Conference 2021</i>.
      <br/>
    </div> 

    <div class="col-12 my-2">
      Anjana Arunkumar, Swaroop Mishra, and Chris Bryan.
      <b>A Visual Exploration of Fair Evaluation for ML - Bridging the Gap Between Research and the Real World</b>
      <i> accepted to Visualization for AI Explainability (VISxAI workshop), IEEE Visualization Conference (VIS) 2020 </i>.
      <br/>
      <a class="link-danger" href="https://visxai.io/2020.html">Workshop Site</a> | <a href="https://aarunku5.github.io/files/arunkumar2021visxai/index.html">Data Story</a> | <a class="link-danger" href="https://aarunku5.github.io/files/arunkumar2021leaderboard.pdf" target="_blank">Base Paper</a>
    </div> 

    <div class="col-12 my-2">
      Swaroop Mishra, Anjana Arunkumar, Bhavdeep Sachdeva, Chris Bryan and Chitta Baral. 
      <b>DQI: A Guide to Benchmark Evaluation</b>
      <i> accepted to Uncertainty & Robustness in Deep Learning Workshop, ICML, 2020</i>.
      <br/>
      <a class="link-danger" href="https://sites.google.com/view/udlworkshop2020/home?authuser=0" target="_blank">Workshop Site</a> | <a href="https://aarunku5.github.io/files/mishra2020udl-1.pdf">arXiv preprint</a>
    </div> 

    <div class="col-12 my-2">
      Swaroop Mishra, Anjana Arunkumar, Chris Bryan and Chitta Baral. 
      <b>Our Evaluation Metric Needs an Update to Encourage Generalization</b>
      <i> accepted to Uncertainty & Robustness in Deep Learning Workshop, ICML, 2020</i>.
      <br/>
      <a class="link-danger" href="https://sites.google.com/view/udlworkshop2020/home?authuser=0" target="_blank">Workshop Site</a> | <a href="https://aarunku5.github.io/files/mishra2020udl-2.pdf">arXiv preprint</a>
    </div> 

    <div class="col-12 my-2">
      Swaroop Mishra, Anjana Arunkumar, Bhavdeep Sachdeva, Chris Bryan and Chitta Baral. 
      <b>VAIDA: An Educative Benchmark Creation Paradigm using Visual Analytics for Interactively Discouraging Artifacts</b>
      <i> accepted to Crowd Science Workshop: Remoteness, Fairness, and Mechanisms as Challenges of Data Supply by Humans for Automation (Workshop), NeurIPS, 2020</i>.
      <br/>
      <a class="link-danger" href="https://neurips.cc/virtual/2020/protected/workshop_16111.html" target="_blank">Workshop Site</a> | <a href="https://slideslive.com/38941268/vaida-an-educative-benchmark-creation-paradigm-using-visual-analytics-for-interactively-discouraging-artifacts">Presentation</a>
    </div> 

    <div class="col-12 my-2">
      Anjana Arunkumar, Swaroop Mishra, Bhavdeep Singh Sachdeva, Chitta Baral, Chris Bryan. 
      <b>Real-Time Visual Feedback for Educative Benchmark Creation: A Human-and Metric-in-the-Loop Workflow</b>
      <i> accepted to HAMLETS (Human And Machine in-the-Loop Evaluation and Learning Strategies Workshop)  NeurIPS, 2020</i>.
      <br/>
      <a class="link-danger" href="https://hamlets-workshop.github.io" target="_blank">Workshop Site</a> | <a href="https://aarunku5.github.io/files/arunkumar2020hamlets.pdf">Paper</a>
    </div> 

    <div class="col-12 my-2">
      Swaroop Ranjan Mishra, and Anjana Arunkumar. 
      <b>Front Contribution instead of Back Propagation</b>
      <i> accepted to Beyond Backpropagation: Novel Ideas for Training Neural Architectures (Workshop), NeurIPS, 2020</i>.
      <br/>
      <a class="link-danger" href="https://beyondbackprop.github.io" target="_blank">Workshop Site</a> | <a href="https://aarunku5.github.io/files/mishra2020fcbp.pdf">Paper</a>
    </div> 

    <div class="col-12 my-2">
      Swaroop Mishra, Anjana Arunkumar, and Bhavdeep Sachdeva. 
      <b>Is High Quality Data All You Need?</b>
      <i> accepted to The pre-registration experiment: an alternative publication model for machine learning research (Workshop), NeurIPS, 2020</i>.
      <br/>
      <a class="link-danger" href="https://preregister.science/neurips2020.html" target="_blank">Workshop Site</a> | <a href="https://aarunku5.github.io/files/mishra2020prereg.pdf">Paper</a>
    </div> 
 
    <div class="col-12 my-2">
      Anjana Arunkumar and Arunkumar Madapusi.
      <b>Investigating the Influence of Top Management Support in Systemic Enterprise System Deployments</b>
      <i> accepted to Decision Sciences Institute Annual Conference 2020</i>.
    </div>

    <div class="col-12 my-2">
      Anjana Arunkumar and Arunkumar Madapusi.
      <b>Examining Data Visualization's Impact on Decision Making</b>
      <i> accepted to Decision Sciences Institute Annual Conference 2020</i>.
    </div>

    <div class="col-12 my-2">
      Anjana Arunkumar and Arunkumar Madapusi.
      <b>Investigating the Influence of Chart Embellishment on Decision Making</b>
      <i> accepted to Decision Sciences Institute Annual Conference 2020</i>.
    </div>    

    <div class="col-12 my-2">
      Anjana Arunkumar and Arunkumar Madapusi.
      <b>Integration Mechanisms, Absorptive Capacity, & Enterprise Systems</b>
      <i> accepted to Decision Sciences Institute Annual Conference 2019</i>.
    </div>    

    <div class="col-12 my-2">
      Anjana Arunkumar and Arunkumar Madapusi.
      <b>Relational Capital & Enterprise Systems</b>
      <i> accepted to Decision Sciences Institute Annual Conference 2019</i>.
    </div>  

    <div class="col-12 my-2">
      Anjana Arunkumar and Arunkumar Madapusi.
      <b>The Role of Consultants in Enterprise Systems</b>
      <i> accepted to Decision Sciences Institute Annual Conference 2019</i>.
    </div>  

    <div class="col-12 my-2">
      Anjana Arunkumar and Sandhya, M.K.
      <b>Abstractive Summarization Through Sentiment Analysis Of User Product Reviews - An RNN Approach</b>
      <i> accepted to Decision Sciences Institute Annual Conference 2019</i>.
    </div>      

    <div class="col-12 my-2">
      Anjana Arunkumar, Sandhya, M.K., and Arunkumar Madapusi.
      <b>Active Learning Methodology: Bridging Theory and Practice</b>
      <i> accepted to Southwest Decision Sciences Institute Annual Conference 2019</i>.
    </div>  

    <div class="col-12 my-2">
      Anjana Arunkumar, Arunkumar Madapusi, and Monica Jenefer.
      <b>ES Configurations and their Impact on firm Performance</b>
      <i> accepted to Southwest Decision Sciences Institute Annual Conference 2019</i>.
    </div>  

    <div class="col-12 my-2">
      Anjana Arunkumar, Arunkumar Madapusi, and Monica Jenefer.
      <b>The Role of Moderators in ERP System Deployment Success</b>
      <i> accepted to Southwest Decision Sciences Institute Annual Conference 2019</i>.
    </div>  

    <div class="col-12 my-2">
      Anjana Arunkumar.
      <b>Cyber Forensics in Machine Learning and Expert Systems</b>
      <i>presented at E3 symposium, 2019</i>.
    </div>    

    <div class="col-12 my-2">
      Anjana Arunkumar.
      <b>Text Mining in Digital Forensics </b>
      <i>presented at E3 symposium, 2018</i>.
    </div>    

    <div class="col-12 my-2">
      Anjana Arunkumar.
      <b>Data Mining in Criminology </b>
      <i>presented at SPARK symposium, 2018</i>.
    </div>    

    <div class="col-12 my-2">
      Anjana Arunkumar.
      <b>Competences Influencing Absorptive Capacity in Enterprise Systems</b>
      <i> accepted to Decision Sciences Institute Annual Conference 2018</i>.
    </div>  

    <div class="col-12 my-2">
      Anjana Arunkumar.
      <b>Enterprise System Configuration and Performance</b>
      <i> accepted to Decision Sciences Institute Annual Conference 2018</i>.
    </div>  

    <div class="col-12 my-2">
      Anjana Arunkumar.
      <b>The Influence of Alignment in Enterprise System Deployments</b>
      <i> accepted to Decision Sciences Institute Annual Conference 2018</i>.
    </div>  

    <div class="col-12 my-2">
      Anjana Arunkumar and Arunkumar Madapusi.
      <b>Absorptive Capacity in Enterprise Systems</b>
      <i> accepted to Northeast Decision Sciences Institute Annual Conference 2018</i>.
    </div>  

    <div class="col-12 my-2">
      Anjana Arunkumar and Arunkumar Madapusi.
      <b>Configuring SME Enterprise Systems</b>
      <i> accepted to Northeast Decision Sciences Institute Annual Conference 2018</i>.
    </div>  

    <div class="col-12 my-2">
      Anjana Arunkumar and Arunkumar Madapusi.
      <b>Critical Success Factors in Enterprise Systems</b>
      <i> accepted to Northeast Decision Sciences Institute Annual Conference 2018</i>.
    </div>  

    <div class="col-12 my-2">
      Anjana Arunkumar.
       <b>Skin Technology and Bio-Infomatics</b>
       <i> presented at Knightron symposium, 2017</i>.
     </div>  

     <div class="col-12 my-2">
      Anjana Arunkumar.
       <b>Six Sigma Methodology and Benchmarking</b>
       <i> presented at E3 symposium, 2017</i>.
     </div>  

    <div class="col-12 my-2">
      Arunkumar Madapusi and Anjana Arunkumar.
      <b>The Influence of Competency Factors in Enterprise System Deployments</b>
      <i> accepted to Decision Sciences Institute Annual Conference 2017</i>.
    </div>  

    <div class="col-12 my-2">
      Arunkumar Madapusi and Anjana Arunkumar.
      <b>The Influence of Knowledge Capabilities in Enterprise System Deployments</b>
      <i> accepted to Decision Sciences Institute Annual Conference 2017</i>.
    </div>  

    <div class="col-12 my-2">
      Arunkumar Madapusi and Anjana Arunkumar.
      <b>The Influence of Knowledge Capital in Enterprise System Deployments</b>
      <i> accepted to Decision Sciences Institute Annual Conference 2017</i>.
    </div>  

    <div class="col-12 my-2">
     Anjana Arunkumar.
      <b>Sensitive Skin Technology</b>
      <i> presented at E3 symposium, 2016</i>.
    </div>  


  </div>
</div>



{% if site.talkmap_link == true %}
<!-- 
<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p> -->

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
