---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<div class="container">
  <div class="row">


    <div class="col-2 my-2">
      <b>Arizona State University, Fall 2024 -- present</b>
    </div>
    <div class="col-10 my-2">
      <p>Curriculum Designer for <i>Data Visualization</i>, CSE 478, CSE 578.</p>
      <p>Designed a visulization orchestration tool to deployed for in-class activities to complement pedagogical concepts from the course textbook (Visualization Analysis and Design, Munzner 2014).</p>
    </div>

    <div class="col-10 my-2">
      <p>Lecturer for <i>Intro to Programming Languages</i>, CSE 240.</p>
      <p>Lead instructor teaching fundamentals of diverse paradigms of programming languages, including procedural (Language C), object-oriented (Language C++), functional (Language LISP), and logic (Language Prolog) paradigm. My responsibilities include  holding online office hours for three hours per week, mentoring undergraduate student projects, and grading assignments. The main curriculum and assignments were designed by ASU Online facilitators.
      <p>Designed part of the review material and practice tests, solo instructor for an online class of 300 students.</p>
    </div>

    <div class="col-2 my-2">
      <b>Arizona State University, Fall 2022</b>
    </div>
    <div class="col-10 my-2">
      <p>Teaching Assistant for <i>Data Visualization</i>, CSE 578.</p>
      <p>Amidst the information flood in which we are currently immersed, visualizations can be a well-placed treetop. The rise of big data has the potential to inform decisions, and visual representations can play a crucial intermediate role in our daily information consumption. Students learn about techniques and algorithms for creating effective visualizations based on principles from graphic design, visual art, perceptual psychology and cognitive science to enhance the understanding of complex data.</p>
    </div>

    <div class="col-2 my-2">
      <b>Arizona State University, Fall 2019</b>
    </div>
    <div class="col-10 my-2">
      <p>Teaching Assistant for <i>Data Structures and Algorithms</i>, CSE 310.</p>
      <p>Students learn about advanced data structures and algorithms, including stacks, queues, trees (B, B+, AVL), and graphs. Searching for graphs, hashing, external sorting.</p>
    </div>

    <div class="col-2 my-2">
      <b>Arizona State University, Fall 2019</b>
    </div>
    <div class="col-10 my-2">
      <p>Teaching Assistant for <i>Database Management</i>, CSE 412.</p>
      <p>Students are introduced to DBMS concepts. Data models and languages. Relational database theory. Database security/integrity and concurrency.</p>
    </div>

  </div>
</div>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
